{% extends "base.html" %}
{% load i18n baseurl %}

{% block title %}{{ block.super }}: {% trans "Verbatim Contributors" %}{% endblock %}

{% block extra_head %}
<style type="text/css">
#contributors li { padding-left:25px; }
#contributors li.lang { font-weight:bold; font-size: 120%; margin-top:12px; }
#contributors li.proj { font-weight:bold; font-size: 80%; }
#contributors li.user { font-weight:normal; font-size: 100%; }
</style>
{% endblock %}

{% block content %}
<h2>Verbatim Contributors</h2>

<ul id="contributors">
  {% for language, projects in contributors %}
  <li class="lang">{{ language }}
    <ul>
      {% for project, users in projects %}
      <li class="proj">{{ project }}
        <ul>
          {% for user in users %}
          <li class="user">{{ user }}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

{% endblock %}
